h1
{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
body
{
    background-color: burlywood;
    align-items: center;
}
video
{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin:0 auto;
}

div.images-container
{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(155, 97, 55);
}
div.central
{
    height: auto;
    width: 3000px;
    margin: 20px 20px; 
}
.image-right
{
    height: auto;
    width: 2700px;
    margin: 20px 20px;   
}
.image-left
{
    height: auto;
    margin: 20px 20px;   
}
img
{
    max-width: 100%;
    align-items: center;
}
button
{
    font-size: 20px;
    background-color: blue;
    color: white;
    padding: 20px 50px;
    border: none;
    border-radius: 5px;
    margin:15px auto;
    display: block;
}

.container
{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
}